<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ybq.android.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".activity.MySupportActivity"></activity>
        <activity android:name=".activity.TabFragmentActivity" />
        <activity android:name=".activity.LottieAnimationActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WaveViewActivity" />
        <activity android:name=".activity.CalendarDateActivity" />
        <activity android:name=".activity.ExpandableRecyclerViewActivity" />
        <activity android:name=".activity.KotlinMainActivity" />
        <activity android:name=".activity.KotlinBasic2Activity" />
        <activity android:name=".activity.KotlinBasic3Activity" />
        <activity android:name=".activity.KotlinLaunchActivity" />
        <activity android:name=".activity.TenActivity" />
        <activity android:name=".activity.NineActivity" />
        <activity android:name=".activity.EightActivity" />
        <activity android:name=".activity.SevenActivity" />
        <activity android:name=".hencoder.HenderMainActivity" />
    </application>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>